<div class="container-fluid p-0  d-flex flex-column justify-content-center">
    <div class="col text-center">
        <a class="a-link-nav-icon" href="#">
            <img src="assets/pngegg.png" width="120px" alt="" srcset="" />
        </a>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <div class="form">
            <form class="row g-3" (ngSubmit)="signup()" [formGroup]="form">
                <div class="col-md-12">
                    <h3>{{"Create account"|translate}}</h3>
                    <label for="inputname4" class="form-label">{{"Your name"|translate}}</label>
                    <input type="text" class="form-control" id="inputname4" formControlName="name" />
                </div>

                <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)" class="alert">
                  <div *ngIf="form.controls['name'].errors" class="fs-6 text-warning">
                    Please enter your correct name
                </div>
                </div>

                <div class="col-md-12">
                    <label for="inputemail4" class="form-label">{{"Email"|translate}}</label>
                    <input type="email" class="form-control" id="inputemail4" formControlName="email" />
                </div>

                <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="alert">
                  <div *ngIf="form.controls['email'].errors" class="fs-6 text-warning">
                    Please enter valide email
                </div>
                </div>

                <div class="col-md-12">
                    <label for="inputPhone" class="form-label">{{"Phone"|translate}}</label>
                    <input type="text" class="form-control" id="inputPhone" formControlName="phone" />
                </div>
                <div *ngIf="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)" class="alert">
                  <div *ngIf="form.controls['phone'].errors" class="fs-6 text-warning">
                    Please enter valide egypt number
                </div>
                </div>
                <div class="col-md-12">
                    <label for="inputPassword4" class="form-label">{{"Password"|translate}}</label>
                    <input type="password" autocomplete="off" placeholder="At least 6 characters" class="form-control mb-0" id="inputPassword4"  formControlName="password" />
                    <div class="a-box-inner a-alert-container">

                        <div class="alert alert-light m-0 p-0" role="alert">
                            {{"Passwords must be at least 6 characters."|translate}}
                        </div>
                    </div>
                </div>
                <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)" class="alert">

                  <div *ngIf="form.controls['password'].errors" class="fs-6 text-warning">

                    Please enter valide password must be at least 6 characters.

                </div>

                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Continue</button>
                </div>
                <div id="legalTextRow" class="col-12">
                    {{"By creating an account, you agree to Amazon's"|translate}}
                    <a href="#">{{"Conditions of Use"|translate}}</a> {{"and"|translate}}
                    <a href="#">{{"Privacy Notice"|translate}}</a>.
                </div>

                <div class="a-row buttom-form">
                    {{"Already have an account?"|translate}}
                    <a class="a-link-emphasis" routerLink="/User/login"> {{"Sign In"|translate}} </a>
                </div>
                
            </form>
        </div>
    </div>
</div>

<div class="container-fluid p-3  text-center fs-6 d-flex flex-column justify-content-center makitcenter" id="footer">
    <div class="section spacing-small text-center size-mini">
        <span class="auth-footer-seperator"></span>

        <a class="link-normal" target="_blank" rel="noopener" href="#">
            Conditions of Use
        </a>
        <span class="auth-footer-seperator"> </span>

        <a class="link-normal" target="_blank" rel="noopener" href="#">
            Privacy Notice
        </a>
        <span class="auth-footer-seperator "></span>

        <a class="link-normal" target="_blank" rel="noopener" href="#">
            Help
        </a>
        <span class="auth-footer-seperator"> </span>
    </div>
    <div class="section spacing-nonetext-center">
        <span class="size-mini color-secondary">
            © 1996-2021, Amazon.com, Inc. or its affiliates
        </span>
    </div>
</div>

<!-- <h1>for test:</h1>
{{signupForm.value |json}} -->