.hover-text-danger:hover{
    color: brown;
text-decoration:  1px solid brown underline;
}
.btn-hover{
    background-color: #DADCDE;
   
}
.btn-hover:hover {
    background-color: rgb(172, 172, 172);
   
}
.btn,.fs-7,.row{
     font-size: small;
}