.bi-check-circle-fill {
    color: rgb(0, 128, 49);
    font-size: 1rem;
  }
  .orderheader {
    color: rgb(0, 128, 49);
  }
  .bi-chevron-right {
    font-size: 0.5rem;
  }
  .ordermain {
    background-color: white;
   
    margin: 20px 20px 50px 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px  15px #e7e4e4;
  }
  a {
text-decoration: none;
}