<!-- <div class="container-fluid "> -->
    <!-- <img src="../../../../../assets/img/1614862027.jpg" alt=""  class="img-fluid w-100"> -->
<!-- </div> -->
<header id="" >
  <!-- Nav bar started -->

  <!-- Nav bar started -->
  <!-- Slider Started -->
  <section class="slider" dir="rtl">
      <div id="carouselExampleIndicators" class="carousel slidearousel-fade " data-bs-ride="carousel">
          <div class="carousel-inner">
              <!-- <div class="carousel-item active">
                  <img src="assets/img/2.jpg" class="d-block w-100" alt="..." />
              </div>
              <div class="carousel-item">
                  <img src="assets/img/3.jpg" class="d-block w-100" alt="..." />
              </div> -->
              <div class="carousel-item active">
                  <img src="assets/img/9.jpg" class="d-block w-100" alt="..." />
              </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
  </section>
  <!-- Slider Ended -->
</header>


<div class="container " >


<div class="row mt-md-4 p-md-4  justify-content-center  ">
    <!-- filter:valOfSearch    here bageing filter       -->
    <div class="card col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 p-4 my-md-3 border " 
      *ngFor="let item of Products| paginate: { itemsPerPage: 8, currentPage: page }   ;  index as i">
      <div class="hover-to-show-btn smth position-relative">
        <a [routerLink]="['/Product',item._id]" class="list-unstyled">
          <div class="For_Img  text-center"> <img [src]="ImgURL+item.imagePath[0]"
              class=" card-img-top img-card m-auto" style="margin: auto; " alt="...">

            <!-- ================================================================================== -->

            <span
              class="position-absolute  translate-middle badge rounded-3 bg-warning  text-black fw-lighter top-0 " style="left: 20px;"
              *ngIf="item.discount != 0">
              {{"Sale"|translate}} {{item.discount}}%
              <span class="visually-hidden">unread messages</span>
            </span>
          </div>
        </a>

        <!-- ==============================btn pop================================== -->
        <button type="button" class=" btn  btn-light border-1 border show-btn  mx-auto w-75" data-bs-toggle="modal"
          data-bs-target="#exampleModalCenter" data-bs-whatever="pop product" (click)=showpop(i)>
          {{'Quick look'|translate}}
        </button>

        <!----============model pop========================= -->


        <div class="modal fade m-auto vw-100 justify-content-center" id="exampleModalCenter" tabindex="-1"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg p-5 m-auto">
            <div class="modal-content ">
              <div class="modal-header ps-2 pe-2 pb-3 bg-light">

                <button type="button " class="btn-close mt-0 me-2" data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-6">

                    <img [src]="ImgURL+Products[num].imagePath[0]" class=" img w-50" alt="...">
                  </div>

                  <div class="col  ">
                    <h5 class="title"> {{Products[num].brand }}</h5>
                    <h5 class="title" *ngIf="currentLang =='ar'"> {{Products[num].arname }}</h5>
                    <h5 class="title" *ngIf="currentLang =='en'"> {{Products[num].name }}</h5>

                    <p class="text-start fs-6 p-0 m-0 " *ngIf=" Products[num].discount != 0"><span class="fs-5">
                        <span class="">
                          {{Products[num].priceafterdiscount|currency}}</span>
                        <span class="text-decoration-line-through fs-6 ">
                          {{Products[num].price|currency}}</span>
                      </span>

                    </p>
                    <p class="text-start fs-6 p-0 m-0 " *ngIf=" Products[num].discount == 0"> <span class="fs-5">
                        {{Products[num].price|currency}}</span>

                    </p>
                    <!-- ====================star============================== -->

                    <p class="fs-5">

                      {{ Products[num].ratings }} {{'out of 5'|translate}}
                      <!-- ==============================================Reviews start   ======================================================== -->

                      <span class="col p-3">
                        <span class="fs-5"> {{'Rating :'|translate}} </span>
                        <i [ngClass]="{
                'star-rating bi bi-star': Products[num].ratings < 1,
                'star-rating bi bi-star-fill': Products[num].ratings >= 1
              }" aria-hidden="true"></i>
                        <i [ngClass]="{
                'star-rating bi bi-star': Products[num].ratings < 2,
                'star-rating bi bi-star-fill': Products[num].ratings >= 2
              }" aria-hidden="true"></i>
                        <i [ngClass]="{
                'star-rating bi bi-star': Products[num].ratings < 3,
                'star-rating bi bi-star-fill': Products[num].ratings >= 3
              }" aria-hidden="true"></i>
                        <i [ngClass]="{
                'star-rating bi bi-star': Products[num].ratings < 4,
                'star-rating bi bi-star-fill': Products[num].ratings >= 4
              }" aria-hidden="true"></i>
                        <i [ngClass]="{
                'star-rating bi bi-star': Products[num].ratings < 5,
                'star-rating bi bi-star-fill': Products[num].ratings >= 5
              }" aria-hidden="true"></i>
                      </span>{{ Products[num].numReviews}}
                    </p>
                    <!-- =============================== Product Details ========================= -->
                    <a class="btn btn-warning w-100 m-auto p-2" [routerLink]="['/Product/',Products[num]._id]"
                      data-bs-dismiss="modal" routerLinkActive="router-link-active">
                      {{'See Product Details'|translate}} </a>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="ps-3 pe-3 p-2 m-3 rounded-3 btn btn-light" data-bs-dismiss="modal">
                  {{'Cancel'|translate}}
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- ======================= -->






        <!-- ========================================================================= -->
        <a [routerLink]="['/Product',item._id]" class="list-unstyled">
          <div class="card-body text-start">

            <h5 class="card-title overflow-hidden fs-6 m-0 p-0" *ngIf="currentLang =='ar'">
              {{item.arname | slice:0:30}}.....</h5>
            <h5 class="card-title overflow-hidden fs-6 m-0 p-0" *ngIf="currentLang =='en'">
              {{item.name | slice:0:30}}.....</h5>
            <p class="fs-6 text-start p-0 m-0">


              <!-- ==============================================Review  ======================================================== -->

              <span class="col  text-start">

                <i [ngClass]="{
              'star-rating bi bi-star': Products[i].ratings < 1,
              'star-rating bi bi-star-fill': Products[i].ratings >= 1
            }" aria-hidden="true"></i>
                <i [ngClass]="{
              'star-rating bi bi-star': Products[i].ratings < 2,
              'star-rating bi bi-star-fill': Products[i].ratings >= 2
            }" aria-hidden="true"></i>
                <i [ngClass]="{
              'star-rating bi bi-star': Products[i].ratings < 3,
              'star-rating bi bi-star-fill': Products[i].ratings >= 3
            }" aria-hidden="true"></i>
                <i [ngClass]="{
              'star-rating bi bi-star': Products[i].ratings < 4,
              'star-rating bi bi-star-fill': Products[i].ratings >= 4
            }" aria-hidden="true"></i>
                <i [ngClass]="{
              'star-rating bi bi-star': Products[i].ratings < 5,
              'star-rating bi bi-star-fill': Products[i].ratings >= 5
            }" aria-hidden="true"></i>
              </span> {{ Products[i].numReviews }}
            </p>
            <p class="text-start fs-6 p-0 m-0 " *ngIf=" item.discount != 0"><span class="fs-5">
                <span class=""> {{item.priceafterdiscount|currency}}</span>
                <span class="text-decoration-line-through fs-6 ">
                  {{item.price|currency}}</span>
              </span>

            </p>
            <p class="text-start fs-6 p-0 m-0 " *ngIf=" item.discount == 0"> <span class="fs-5">
                {{item.price|currency}}</span>

            </p>



          </div>
        </a>
      </div>
    </div>
    <div class="text-center mt-5">
        <pagination-controls (pageChange)="page = $event" class="text-center "></pagination-controls>

    </div>
  </div>
</div>
