<div class="container mb-5">
    <div>
        <p>
            <span class="headorder" routerLink="/User/profile">Your Account </span>
            <i class="bi bi-chevron-right"></i>
            <span class="headorder" routerLink="/User/user-orders">Your Orders</span>
            <i class="bi bi-chevron-right"></i>

            <span><a  class="cancel"> order Details </a></span>
        </p>
    </div>
    <div>
        <div class="border border-success orderheader">
            <i class="bi bi-check-circle-fill"></i>
            <span>this order has been cancelled</span>
            <a routerLink='/Home' class="btn btn-warning m-3" data-bs-toggle="button" autocomplete="off">continue
                shipping</a>
        </div>
    </div>
</div>